@media screen and (max-width: 1025px) and (orientation: portrait){
    #sound {
        width: 10%;
    }
    #monsterField {
        min-height: 15vh;
    }
}

@media screen and (max-height: 900px) and (min-width:1028px) {
    .SmallCards {
        width: 24%;
    }
    #monsterField {
        width: 60%;
    }
}

@media screen and (max-width: 699px) {
    .RulesInfo {
        padding-left: 10%;
        padding-right: 10%;
    }
    #cardField {
        min-height: 40vh;
    }
}

@media screen and (max-width: 480px) {
    #cardField {
        min-height: 35vh;
    }
    .FinalMonster h4 {
        font-size: 2vw;
    }
    #counterImg {
        display: none;
    }
    #counterNum {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    #rules {
        background-size: 50% 100%;
    }
    .RulesInfo {
        padding-left: 30%;
        padding-right: 30%;
    }
}

@media only screen and (max-height: 480px){
    .SmallCards {
        width: 21%;
    }
    #monsterField {
        width: 60%;
        min-height: 45vh;
    }
}