 * {
     margin: 0px;
     padding: 0px;
 }

 body {
     max-width: 2500px;
 }

 #sound {
     float: right;
     width: 7%;
     display: block;
 }

 #sound:hover, #sound:active, #sound:focus {
     outline: none;
 }

 #menu_on {
     float: left;
     width: 7%;
     transform: scale(1);
 }

 #menu_on:hover, #menu_on:active, #menu_on:focus {
     outline: none;
 }

 #menu, #rules, #menu_on, #start {
     display: none;
 }

 .logo {
     width: 100%;
     height: 30vh;
     background: url(../img/logo.png) center no-repeat;
     background-size: contain;
 }

 main {
     /*display: flex;*/
     /* flex-direction: column;*/
     min-height: 100vh;
 }

 #rules {
     flex: 1 1 auto;
     height: 100vh;
     background: url(../img/rules.png) center no-repeat;
     position: relative;
     overflow-y: auto;
 }

 .rules-info {
     position: absolute;
     left: 50%;
     padding-top: 15vh;
     margin-bottom: 5vh;
     margin-right: -50%;
     transform: translate(-50%, 0%);
     text-align: justify;
 }

 .rules-info h1, .rules-info h2, .rules-info h3 {
     font-family: 'Lobster', cursive;
     text-align: center;
 }

 .rules-info h1 {
     font-size: 2.5rem;
 }

 nav {
     margin: auto;
 }

 .mainMenu {
     list-style: none;
     padding-top: 15vh;
     text-align: center;
     height: 40vh;
     background: url(../img/menu.png) center no-repeat;
     background-size: contain;
 }

 .mainMenu button {
     width: 45vw;
     max-width: 260px;
     height: 6vh;
     background-color: transparent;
     border: ridge rgb(112, 60, 17);
     border-radius: 10% /45%;
     font-size: 4vh;
     font-family: Arciform Sans cyr-lat;
     color: rgb(236, 139, 49);
     margin-bottom: 1%;
 }

 /* #start{margin-top: 5vh;
    position: relative;
}*/

 #start {
     width: 80%;
     margin: 0px auto;
     min-height: 100vh;
 }

 #memoryBox {
     width: 80%;
     margin-top: 4vh;
     height: 90vh;
     border: Solid 1px #ebe5e5;
     position: absolute;
 }

 #cardField {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 60%;
     min-height: 470px;
     margin: 0px auto;
     border: Solid 1px #ebe5e5;
     perspective: 1000px;
 }

 .smallCards {
     max-width: 200px;
     width: 30%;
     position: relative;
     transform-style: preserve-3d;
     transform: scale(1);
     transition: transform 0.7s;
 }

 .smallCards img {
     width: 100%;
     position: absolute;
     
 }
 .backFace,.frontFace{
  backface-visibility: hidden;   
 }

 #menu_on:hover, #menu_on:focus {
     transform: scale(0.95);
     transition: transform 0.3s;
 }

 /*.backFace{
    z-index: 2;
 }
 .frontFace{
    display: none;
 }

 .frontFace{
    opacity: 0;
 }*/

 /*.smallCardAnimation .frontFace {
     transform: rotateY(180deg);
 }
*/
.smallCards.smallCardAnimation,.frontFace{
    transform: rotateY(180deg);
}
 /*.smallCardAnimation {
     transform: rotateY(180deg);
     transition: transform 0.5s;
 }*/

 @media screen and (min-width: 800px) {
     #rules {
         background-size: 50% 100%;
     }
     .rules-info {
         padding-left: 30%;
         padding-right: 30%;
     }
 }

 @media screen and (max-width: 800px) {
     .rules-info {
         padding-left: 10%;
         padding-right: 10%;
     }
     #cardField {
         min-height: 300px;
     }
 }

 @media screen and (max-width: 600px) {
     #cardField {
         min-height: 200px;
     }
 }